# DATABASE
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_SCHEMA=
DATABASE_CONN_MAX_LIFETIME=
DATABASE_MAX_OPEN_CONN=
DATABASE_MAX_IDLE_CONN=

# AWS
AWS_REGION=
AWS_COGNITO_USER_POOL_ID=

# MIDTRANS
MIDTRANS_SERVER_KEY=

# REDIS
CACHER_SERVICE=
CACHER_HOST=
CACHER_PORT=
CACHER_PASSWORD=
CACHER_DEFAULT_EXP=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SQS_TRANSACTION_URL=
SQS_MAIL_URL=
SQS_TICKET_URL=
SQS_TICKET_FAILED_URL=
SQS_TICKET_SUCCESS_URL=